<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakshi.todolist_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/todoiconround"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="locale|orientation"
        android:roundIcon="@drawable/todoiconround"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="ToDo List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompletedTask"
            android:label="Completed Task"></activity>
        <activity android:name=".Settings"></activity>
    </application>

</manifest>